.watch-info {
    margin-top: 8px;
}

.watch-info h2 {
    margin: 8px 0;
}

.watch-info p {
    margin: 4px 0;
}

.watch-info a {
    display: inline-block;
    margin: 2px 0px 8px 0px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.watch-info a:hover {
    background-color: #0056b3;
}

.correct {
    color: green;
  }
  
  .incorrect {
    color: red;
  }
  